.container .hero-unit {
    padding: 20px;
}

.container textarea {
    width: 100%;
    font-family: courier new, monospace;
    background: white;
}
.container .code {
    width: 100%;
}

.code {
    font-size: 14px;
    line-height: 100%;
    border: #aaa 1px solid;
}
